.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    min-height: 86vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

.App-link {
    color: #61dafb;
}

#global-header {
    background-color: #0b0c0c;
    width: 100%;
}

/*@media (min-width: 641px)*/
#global-header .header-wrapper {
    padding-left: 15px;
    padding-right: 15px;
}

#global-header .header-wrapper {
    background-color: #0b0c0c;
    max-width: 1280px;
    margin: 0 auto;
    padding-top: 8px;
    padding-bottom: 8px;
}

img {
    border: 0;
}

#global-header-logo img {
    margin: 2px 1px 0 0;
    vertical-align: bottom;
    visibility: hidden;
}

#global-header .header-wrapper .header-global .header-logo {
    margin-top: 2px;
    float: left;
}

#global-header .header-wrapper .header-global .header-logo .content {
    margin: 0 15px;
}

html {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

#global-header-logo {
    float: left;
    overflow: visible;
    color: white;
    font-weight: bold;
    font-size: 30px;
    line-height: 1;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    border-bottom: 1px solid transparent;
    background: url(images/gov.uk_logotype_crown.png) no-repeat;
    background-size: 36px 32px;
    background-position: 0 0;
}

#global-header .header-proposition {
    padding-top: 10px;
}

#global-header.with-proposition .header-wrapper .header-proposition .content {
    margin: 0 15px;
}

#global-header .logout {
    float: right;
}

#global-header .header-proposition #proposition-name {
    font-size: 24px;
    line-height: 1.25;
}

#global-header .header-proposition #proposition-name {
    font-family: "nta", Arial, sans-serif;
    text-transform: none;
    font-size: 18px;
    line-height: 1.2;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

#global-header-bar {
    height: 10px;
    background-color: #005ea5;
    margin: 0 30px;
}

#footer {
    background-color: #dee0e2;
    border-top: 1px solid #a1acb2;
}

#footer .footer-wrapper {
    padding-top: 60px;
}

#footer .footer-meta {
    padding-bottom: 60px;
    clear: both;
    font-size: 0;
    color: #454a4c;
}

.upload-warning {
    color: orange;
}

.upload-error {
    color: red;
}

.upload-success {
    color: green;
}

.file-input {
    width:400px;
    font-size: 15px;
}

.upload-button {
    width:100px;
    height:25px;
    font-size: 15px;
}
